body {
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    margin-top: 50px;
}

canvas {
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    background-color: #000;
}